.cover__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}