.places {
    display: grid;
    row-gap: 50px;
}
@media(min-width:768px){
    .places {
        display: flex;
        row-gap: 80px;
        flex-direction: column;
    }
}
@media(min-width:1024px){
    .places {
        row-gap: 73px;
    }
}
@media(min-width:1280px){
    .places {
        row-gap: 80px;
    }
}