.lead {
    width: 100%;
    text-align: center;
}
@media(min-width:1280px){
    .lead {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 984px;
        margin: auto;
    }
}