/* Микс для внешних отступов */
.content__intro{
    margin-top: 64px;
}
@media(min-width:768px){
    .content__intro{
        margin-top: 88px;
    }
}
@media(min-width:1024px){
    .content__intro{
        margin-top: 92px;
    }
}