.footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    box-sizing: border-box;
}
@media(min-width:768px){
    .footer {
        flex-direction: row;
        width: calc(100% - 2*24px);
        align-items: center;
    }
}
@media(min-width:1024px){
    .footer {
        padding-bottom: 24px;
        width: calc(100% - 2*48px);
    }
}