.place__url-heading {
    margin: 0;
    color: #AAAAAA;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: left;
}
